@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts.css';

@layer base {
  body {
    @apply text-text-white m-0 font-minecraft antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
  }
}

@layer utilities {
  .text-shadow-minecraft {
    text-shadow: 2px 2px #3e3e3e;
  }
}
